In [1]:
import pandas as pd

In [28]:
df = pd.read_csv('C:/Users/cjoly/projet/Net1_CMH/Scenario-506/df.csv')
y = pd.read_csv('C:/Users/cjoly/projet/Net1_CMH/Scenario-506/Labels.csv')

In [29]:
df =df.drop(df.columns[0], axis=1)
df

       Node 2  Node 9  Link 11  Link 21  Link 22
0       273.6  -417.6     18.0     39.6     18.0
1       284.4  -414.0     18.0     43.2     14.4
2       291.6  -410.4     14.4     43.2     14.4
3       298.8  -406.8     14.4     46.8     14.4
4       298.8  -403.2     14.4     46.8     14.4
...       ...     ...      ...      ...      ...
17515     0.0  -244.8     32.4     -3.6      7.2
17516     0.0  -223.2     25.2     -0.0      7.2
17517     0.0  -212.4     25.2     -3.6      7.2
17518     0.0  -190.8     25.2     -0.0      7.2
17519     0.0  -172.8     21.6     -3.6      7.2

[17520 rows x 5 columns]

In [6]:
from datetime import datetime

In [30]:
time = pd.read_csv('C:/Users/cjoly/projet/Net1_CMH/Scenario-506/Timestamps.csv')

In [31]:
time

       Index            Timestamp
0          1  2017-01-01 00:00:00
1          2  2017-01-01 00:30:00
2          3  2017-01-01 01:00:00
3          4  2017-01-01 01:30:00
4          5  2017-01-01 02:00:00
...      ...                  ...
17515  17516  2017-12-31 21:30:00
17516  17517  2017-12-31 22:00:00
17517  17518  2017-12-31 22:30:00
17518  17519  2017-12-31 23:00:00
17519  17520  2017-12-31 23:30:00

[17520 rows x 2 columns]

In [16]:
df.columns

Index(['Unnamed: 0', 'Node 2', 'Node 9', 'Link 11', 'Link 21', 'Link 22'], dtype='object')

In [32]:
df.insert(0,"Timestamp" , time["Timestamp"])

In [33]:
df

                 Timestamp  Node 2  Node 9  Link 11  Link 21  Link 22
0      2017-01-01 00:00:00   273.6  -417.6     18.0     39.6     18.0
1      2017-01-01 00:30:00   284.4  -414.0     18.0     43.2     14.4
2      2017-01-01 01:00:00   291.6  -410.4     14.4     43.2     14.4
3      2017-01-01 01:30:00   298.8  -406.8     14.4     46.8     14.4
4      2017-01-01 02:00:00   298.8  -403.2     14.4     46.8     14.4
...                    ...     ...     ...      ...      ...      ...
17515  2017-12-31 21:30:00     0.0  -244.8     32.4     -3.6      7.2
17516  2017-12-31 22:00:00     0.0  -223.2     25.2     -0.0      7.2
17517  2017-12-31 22:30:00     0.0  -212.4     25.2     -3.6      7.2
17518  2017-12-31 23:00:00     0.0  -190.8     25.2     -0.0      7.2
17519  2017-12-31 23:30:00     0.0  -172.8     21.6     -3.6      7.2

[17520 rows x 6 columns]